*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

body{
    height: 100vh;
    background: linear-gradient(rgba(28, 2, 141, 0.89) 50%, rgba(0, 0, 0, 0.918) 50%)
}

.container{
    font-size: 16px;
    width: 90vw;
    max-width: 37.5em;
    padding: 3em 1.8em;
    background-color: #1e293b;
    position: absolute;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
    border-radius: 0.6em;
    box-shadow: 1.2em 2em 3em rgba(0, 0, 0, 0.2);
}

.search-container{
    display: grid;
    grid-template-columns: 9fr 3fr;
    gap: 1em;
}

.search-container input, .search-container button{
    font-size: 0.9em;
    outline: none;
    border-radius: 0.3em;
}

.search-container input{
    background-color: transparent;
    border: 1px solid aliceblue;
    color: aliceblue;
    padding: 0.7em;
}

.search-container imput:focus{
    border-color: aliceblue;
}

.search-container button{
    background-color:rgba(28, 2, 141, 0.89) ;
    border: none;
    cursor: pointer;
    color: aliceblue;
}